<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>往后余生</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>1024</string>
			<key>CFBundleURLName</key>
			<string>com.chenxi.wanghouyusheng</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>comchenxiwanghouyusheng</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>noZWXYGLgkyxqgQD-EwDoYr</string>
	<key>GADIsAdManagerApp</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>chenxijiyisuipian</string>
		<string>chenxishoudiantong</string>
		<string>sinaweibo</string>
		<string>zhihu</string>
		<string>niancheng</string>
		<string>comchenxijiyisuipian</string>
		<string>chenxijiugongge</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>是否允许使用相机用来识别二维码</string>
	<key>NSFaceIDUsageDescription</key>
	<string>是否允许使用FaceID权限，来保护您的数据</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>往后余生需要定位权限获取当前位置天气</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>是否允许访问相册，来保存您分享的图片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许访问相册权限，用来储存您分享的故事的图片</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>获取标记权限向您提供更优质、安全的个性化服务及内容，未经同意我们不会用于其他目的；开启后，您也可以前往系统“设置-隐私 ”中随时关闭。</string>
	<key>UIAppFonts</key>
	<array>
		<string>方正宋刻本秀楷繁体.ttf</string>
		<string>TpldKhangXiDictTrial.otf</string>
		<string>浙江民间书刻体.ttf</string>
		<string>方正苏新诗柳楷简体.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>mtj_appkey</key>
	<string>66e60bb28a</string>
	<key>mtj_deubglog</key>
	<string>1</string>
</dict>
</plist>
